<section id="header">
  <a routerLink="">
      <img src="../../assets/logo.png" class="logo" alt="Cara">
  </a>

  <div>
      <ul id="navbar">
          <li><a id="home" routerLink="">Home</a></li>
          <li><a id="shop" routerLink="shop">Shop</a></li>

          <li><a id="cart" routerLink="">Cart</a></li>
          <li><a id="orders" routerLink="">Orders</a></li>
          <li><a id="addProduct" routerLink="">Add Products</a></li>
          <li><a id="adminProduct" routerLink="">Admin Products</a></li>

          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>

          <li><a id="login" routerLink="">Login</a></li>
          <li><a id="register" routerLink="">Register</a></li>
      </ul>
  </div>
</section>

<!-- <li><a href=""><i class="fas fa-shopping-cart"></i></a></li> -->
<!-- <li><a href=""><i class="fas fa-sign-in-alt"></i></a></li> -->