<section id="header">
  <a routerLink="">
      <img src="../../assets/logo.png" class="logo" alt="Cara">
  </a>

  <div>
      <ul id="navbar">
          <li><a id="home" routerLink="">Home</a></li>
          <li><a id="shop" routerLink="shop">Shop</a></li>

          <li><a id="cart" routerLink="cart">Cart</a></li>
          <li><a id="orders" routerLink="orders">Orders</a></li>
          <li><a id="add-product" routerLink="add-product">Add Products</a></li>
          <li><a id="admin-products" routerLink="admin-products">Admin Products</a></li>

          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>

          <li><a id="login" routerLink="login">Login</a></li>
          <li><a id="register" routerLink="register">Register</a></li>
          <!-- <li><a id="logout" routerLink="logout">Logout</a></li> -->
      </ul>
  </div>
</section>

<!-- <li><a href=""><i class="fas fa-shopping-cart"></i></a></li> -->
<!-- <li><a href=""><i class="fas fa-sign-in-alt"></i></a></li> -->